<%= form_with(model: @setting, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :owner_info %>
    <%= f.text_area :owner_info, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :billing %>

    <%= f.text_field :billing, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :billing_card %>

    <%= f.text_field :billing_card, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :domains %>
    <%= f.text_area :domains, rows: "3", class: "form-control" %>
  </div>

  <%= f.hidden_field :profile_id, value: @profile.id %>

  <%= f.submit "Create setting", class: "btn btn-block btn-outline-secondary" %>
<% end %>
