<% was_validated = social_link.errors.any? %>

<%= form_with(model: social_link, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% username_class = "form-control" %>
    <% username_was_invalid = social_link.errors.include?(:username) %>

    <% if was_validated %>
      <% if username_was_invalid %>
        <% username_class << " is-invalid" %>
      <% else %>
        <% username_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :username %>
    <%= f.text_field :username, class: username_class, placeholder: "Enter username" %>
    <% if username_was_invalid %>
      <% social_link.errors.full_messages_for(:username).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% medium_class = "form-control" %>
    <% medium_was_invalid = social_link.errors.include?(:medium) %>

    <% if was_validated %>
      <% if medium_was_invalid %>
        <% medium_class << " is-invalid" %>
      <% else %>
        <% medium_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :medium %>
    <%= f.text_field :medium, class: medium_class, placeholder: "Enter medium" %>
    <% if medium_was_invalid %>
      <% social_link.errors.full_messages_for(:medium).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% password_class = "form-control" %>
    <% password_was_invalid = social_link.errors.include?(:password) %>

    <% if was_validated %>
      <% if password_was_invalid %>
        <% password_class << " is-invalid" %>
      <% else %>
        <% password_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :password %>
    <%= f.text_field :password, class: password_class, placeholder: "Enter password" %>
    <% if password_was_invalid %>
      <% social_link.errors.full_messages_for(:password).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% profile_class = "form-control" %>
    <% profile_was_invalid = social_link.errors.include?(:profile) %>

    <% if was_validated %>
      <% if profile_was_invalid %>
        <% profile_class << " is-invalid" %>
      <% else %>
        <% profile_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :profile_id %>
    <%= f.collection_select :profile_id, Profile.all, :id, :to_s, {}, class: "form-control" %>
    <% if profile_was_invalid %>
      <% social_link.errors.full_messages_for(:profile).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
