<div class="card mb-3">
  <h2 class="card-header h4">
    Analytic #<%= analytic.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Page</dt>
      <dd>
        <% if @analytic.page.present? %>
          <%= link_to analytic.page, analytic.page %>
        <% end %>
      </dd>

      <dt>Reader location</dt>
      <dd>
        <div>
          <%= render partial: "analytics/one_photo_map" %>
        </div>
      </dd>

      <dt>View count</dt>
      <dd><%= analytic.view_count %></dd>

      <dt>Reader</dt>
      <dd><%= analytic.reader_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back analytic, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_analytic_url(analytic), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to analytic, method: :delete, data: { confirm: "Do you really want to delete this analytic?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(analytic.updated_at) %> ago
  </div>
</div>
