<% was_validated = analytic.errors.any? %>

<%= form_with(model: analytic, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for page_id start -->
  <div class="form-group">
    <% page_class = "form-control" %>
    <% page_was_invalid = analytic.errors.include?(:page) %>

    <% if was_validated %>
      <% if page_was_invalid %>
        <% page_class << " is-invalid" %>
      <% else %>
        <% page_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :page_id %>
    <!-- Input for page_id start -->
    <%= f.number_field :page_id, class: page_class, placeholder: "Enter page" %>
    <!-- Input for page_id end -->
    <% if page_was_invalid %>
      <% analytic.errors.full_messages_for(:page).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for page_id end -->
  <!-- Label and input for reader_location start -->
  <div class="form-group">
    <% reader_location_class = "form-control" %>
    <% reader_location_was_invalid = analytic.errors.include?(:reader_location) %>

    <% if was_validated %>
      <% if reader_location_was_invalid %>
        <% reader_location_class << " is-invalid" %>
      <% else %>
        <% reader_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :reader_location %>
    <!-- Input for reader_location start -->
    <%= f.text_field :reader_location, class: reader_location_class, placeholder: "Enter reader location" %>
    <!-- Input for reader_location end -->
    <% if reader_location_was_invalid %>
      <% analytic.errors.full_messages_for(:reader_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for reader_location end -->
  <!-- Label and input for view_count start -->
  <div class="form-group">
    <% view_count_class = "form-control" %>
    <% view_count_was_invalid = analytic.errors.include?(:view_count) %>

    <% if was_validated %>
      <% if view_count_was_invalid %>
        <% view_count_class << " is-invalid" %>
      <% else %>
        <% view_count_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :view_count %>
    <!-- Input for view_count start -->
    <%= f.number_field :view_count, class: view_count_class, placeholder: "Enter view count" %>
    <!-- Input for view_count end -->
    <% if view_count_was_invalid %>
      <% analytic.errors.full_messages_for(:view_count).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for view_count end -->
  <!-- Label and input for reader_id start -->
  <div class="form-group">
    <% reader_class = "form-control" %>
    <% reader_was_invalid = analytic.errors.include?(:reader) %>

    <% if was_validated %>
      <% if reader_was_invalid %>
        <% reader_class << " is-invalid" %>
      <% else %>
        <% reader_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :reader_id %>
    <!-- Input for reader_id start -->
    <%= f.number_field :reader_id, class: reader_class, placeholder: "Enter reader" %>
    <!-- Input for reader_id end -->
    <% if reader_was_invalid %>
      <% analytic.errors.full_messages_for(:reader).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for reader_id end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
