<div class="card mb-3">
  <h2 class="card-header h4">
    Setting #<%= setting.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Owner info</dt>
      <dd><%= setting.owner_info %></dd>

      <dt>Billing</dt>
      <dd><%= setting.billing %></dd>

      <dt>Billing card</dt>
      <dd><%= setting.billing_card %></dd>

      <dt>Domains</dt>
      <dd><%= setting.domains %></dd>

      <dt>Profile</dt>
      <dd>
        <% if @setting.profile.present? %>
          <%= link_to setting.profile, setting.profile %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back setting, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_setting_url(setting), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to setting, method: :delete, data: { confirm: "Do you really want to delete this setting?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(setting.updated_at) %> ago
  </div>
</div>
