<% was_validated = setting.errors.any? %>

<%= form_with(model: setting, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% owner_info_class = "form-control" %>
    <% owner_info_was_invalid = setting.errors.include?(:owner_info) %>

    <% if was_validated %>
      <% if owner_info_was_invalid %>
        <% owner_info_class << " is-invalid" %>
      <% else %>
        <% owner_info_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :owner_info %>
    <%= f.text_area :owner_info, class: owner_info_class, placeholder: "Enter owner info" %>
    <% if owner_info_was_invalid %>
      <% setting.errors.full_messages_for(:owner_info).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% billing_class = "form-control" %>
    <% billing_was_invalid = setting.errors.include?(:billing) %>

    <% if was_validated %>
      <% if billing_was_invalid %>
        <% billing_class << " is-invalid" %>
      <% else %>
        <% billing_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :billing %>
    <%= f.text_field :billing, class: billing_class, placeholder: "Enter billing" %>
    <% if billing_was_invalid %>
      <% setting.errors.full_messages_for(:billing).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% billing_card_class = "form-control" %>
    <% billing_card_was_invalid = setting.errors.include?(:billing_card) %>

    <% if was_validated %>
      <% if billing_card_was_invalid %>
        <% billing_card_class << " is-invalid" %>
      <% else %>
        <% billing_card_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :billing_card %>
    <%= f.number_field :billing_card, class: billing_card_class, placeholder: "Enter billing card" %>
    <% if billing_card_was_invalid %>
      <% setting.errors.full_messages_for(:billing_card).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% domain_class = "form-control" %>
    <% domain_was_invalid = setting.errors.include?(:domain) %>

    <% if was_validated %>
      <% if domain_was_invalid %>
        <% domain_class << " is-invalid" %>
      <% else %>
        <% domain_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :domains %>
    <%= f.text_area :domains, class: domain_class, placeholder: "Enter domain" %>
    <% if domain_was_invalid %>
      <% setting.errors.full_messages_for(:domain).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% profile_class = "form-control" %>
    <% profile_was_invalid = setting.errors.include?(:profile) %>

    <% if was_validated %>
      <% if profile_was_invalid %>
        <% profile_class << " is-invalid" %>
      <% else %>
        <% profile_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :profile_id %>
    <%= f.collection_select :profile_id, Profile.all, :id, :to_s, {}, class: "form-control" %>
    <% if profile_was_invalid %>
      <% setting.errors.full_messages_for(:profile).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
