<% was_validated = page.errors.any? %>

<%= form_with(model: page, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% hero_image_class = "form-control" %>
    <% hero_image_was_invalid = page.errors.include?(:hero_image) %>

    <% if was_validated %>
      <% if hero_image_was_invalid %>
        <% hero_image_class << " is-invalid" %>
      <% else %>
        <% hero_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :hero_image %>
    <%= f.file_field :hero_image, class: "form-control" %>
    <% if hero_image_was_invalid %>
      <% page.errors.full_messages_for(:hero_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% writer_class = "form-control" %>
    <% writer_was_invalid = page.errors.include?(:writer) %>

    <% if was_validated %>
      <% if writer_was_invalid %>
        <% writer_class << " is-invalid" %>
      <% else %>
        <% writer_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :writer_id %>
    <%= f.collection_select :writer_id, Profile.all, :id, :to_s, {}, class: "form-control" %>
    <% if writer_was_invalid %>
      <% page.errors.full_messages_for(:writer).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% page_name_class = "form-control" %>
    <% page_name_was_invalid = page.errors.include?(:page_name) %>

    <% if was_validated %>
      <% if page_name_was_invalid %>
        <% page_name_class << " is-invalid" %>
      <% else %>
        <% page_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :page_name %>
    <%= f.text_field :page_name, class: page_name_class, placeholder: "Enter page name" %>
    <% if page_name_was_invalid %>
      <% page.errors.full_messages_for(:page_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
