<%= form_with(model: @analytic, local: true) do |f| %>

  <%= f.hidden_field :page_id, value: @page.id %>

  <div class="form-group">
    <%= f.label :reader_location %>

    <%= f.text_field :reader_location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :view_count %>

    <%= f.text_field :view_count, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :reader_id %>

    <%= f.text_field :reader_id, class: "form-control" %>
  </div>

  <%= f.submit "Create analytic", class: "btn btn-block btn-outline-secondary" %>
<% end %>
